# Dependencies
node_modules/

# Build output
dist/

# Local databases
*.db
*.db-journal
*.db-wal
*.db-shm

# Bun
.bun/

# Editor files
.idea/
*.swp
*.swo
.vscode

# OS-specific files
.DS_Store
Thumbs.db

# Coverage
coverage/
